/*general*/
html, body {
	background-repeat: no-repeat;
	background-size: cover;  
	background-color: rgba(240,248,255,1);
	line-height: 1.6;
}

/*page title*/
#page-title {
	font-size: 4rem;
	font-family: 'Abril Fatface', cursive;
	color:rgba(65,105,225,1);
	text-align: center;
	padding-top: 40px; 
	margin-bottom: 20px; 
}

/* nav links*/
nav ul {
	padding: 30px; 
	list-style-type: none;
	margin: 0; 
}

nav ul li {
	padding: 10px 20px; 
	font-family: 'Roboto Condensed', sans-serif;
	background-color: rgba(60,100,200,0.2);
	transition: background-color 0.3s ease; 
}

nav ul li:hover {
	background-color: rgba(60,100,200,0.4);
}

header nav a {
	padding: 10px;
	display: block;
	text-decoration: none;
	color:rgba(60,100,200,1);
	border: 1px dashed #4169E1;
	font-size: 20px;
	transition: color 0.3s ease; 
    text-align: left;
}

header nav a:hover {
	color: #333; 
}

/*columns & divs*/
.column, div.input, div.title {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	padding: 20px; 
}

/*table*/
table, th, td {
	border: 1px solid black;
}

table {
	margin: 20px auto; 
	text-align: center;
	border-collapse: collapse;
}

th, td {
	padding: 10px; 
}